body {
    background-image: url('../images/fondo.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

.navbar {
    background-color: #12130fde;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    color: #EAE6E5;
    font-size: 1.8rem;
    margin-left: 5px;
}

.navbar-brand:hover {
    color: #EAE6E5;
}

.navbar-brand:focus {
    color: #EAE6E5;
}

.nav-link {
    color: #EAE6E5;
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 10px;
}

.nav-link:focus {
    color: #EAE6E5;
}

.nav-link:hover {
    background-color: #EAE6E5;
    color: #12130fd3;
    border-radius: 10px;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #EAE6E5;
}

.navbar-nav .nav-link.active:hover, .navbar-nav .nav-link.show:hover {
    color: #EAE6E5;
    background-color: #EAE6E5;
    color: #12130fd3;
    border-radius: 10px;
}

.contact_button {
    background-color: #5B9279;
    color: white;
    border-radius: 20px;
    padding: 10px 10px;
    margin-right: 5px;
    text-decoration: none;
}

.contact_button:hover {
    background-color: #8FCB9B;
    color: #EAE6E5;
}

.navbar-toggler {
    background-color: #EAE6E5;
}

.navbar-toggler-icon {
    background-color: #EAE6E5;
}

.offcanvas {
    background-color: #12130f;
}

.offcanvas-title {
    color: #EAE6E5;
}

.offcanvas-header .btn-close {
    background-color: #EAE6E5;
}

.title-welcome {
    color: #EAE6E5;
    font-family: 'Pacifico', cursive;
    font-size: 3.8rem;
    /*contorno de la letra*/
    text-shadow: 3px 3px 4px #000000;
}

.text-welcome {
    color: #EAE6E5;
    font-size: 1.2rem;
    text-shadow: 2px 2px 3px #000000;
}

.footer {
    background-color: #12130f;
    padding: 20px;
}

.footer .col-3 {
    padding: 15px;
}

.footer .slogan {
    color: #EAE6E5;
    font-family: 'Pacifico', cursive;
    font-size: 1.8rem;
    margin-top: 10px;
}

.footer .contacto {
    color: #EAE6E5;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 10px;
    padding: 10px;
}

.link-contacto {
    max-width: 40px;
    max-height: 40px;
    min-width: 35px;
    min-height: 35px;
    padding: 3px;
}


