@import 'bootstrap';

body {
    background-image: url('../../images/fondo1.jpg') !important;
}

.table-style {
    border-radius: 20px;
}

.title-finca {
    font-family: 'Pacifico', cursive;
    font-weight: 600;
    color: #EAE6E5;
    font-size: 2.5rem;
    text-shadow: 5px 5px 4px #000000;
}

.title-form-finca{
    font-family: 'Pacifico', cursive;
    font-weight: 300;
    color: #EAE6E5;
    font-size: 2.5rem;
    padding-bottom: 10px;
}

.text-form-finca {
    font-family: 'Pacifico', cursive;
    color: #EAE6E5;
    font-size: 1.3rem;
    padding-bottom: 10px;
}

.form-finca {
    background-color: #12130fde;
    border-radius: 20px;    
}